html, body{
	width: 100%;
	height:100%;
}

div {
	overflow: hidden;
}

h4 {
	display: inline-block;
	margin: 0;
	height: 38px;
	line-height: 38px;
}

i {
	margin: 5px;
	cursor: pointer;
}

a {
	display: inline-block;
}


div#root, div#App {
	width: 100%;
	height: 100%;
}

.right {
	float: right;
}

.hidden {
	display: none;
}

.navbar-size {
	height: 100px;
	width: 100%;
	z-index: 1;
	background-color: rgba(255,255,255) !important;
	padding: 16px 31px;
	font-size: 13pt;
}

.navbar-toggler {
	color: rgba(255, 255, 255, 0.75);
	border-color: rgba(255, 255, 255, 0.75);
	z-index: 100;
}

.navbar-brand-size {
	max-width: 100%;
	margin-right: 0;
	font-size: 25pt;
}

.navbar-light .navbar-brand {
	color: rgba(148, 149, 152, 0.75) !important;
}

.navbar-menu {
	overflow-x: hidden;
	background-color: rgba(0,0,0,0.4) !important;
	/* background-color: #2e353d; */
	position: fixed;
	bottom: 0px;
	right: 0px;
	width: 40%;
	height: calc(100% - 68px);
	color: #e1ffff;
	z-index: 40;
	text-align: center;
	padding-top: 6%;
	font-size: 19pt;
	box-shadow: -2px 0px 10px #091421;
}

.navbar-dark .navbar-nav .nav-link {
	color: rgba(255, 255, 255, 0.75);
}

.navbar-dark .navbar-nav .nav-link:hover {
	color: rgba(255, 255, 255, 1);
}

.navbar-closebtn {
	font-size: 35px;
	position: absolute;
	top: 1%;
	right: 4%;
	text-decoration: none;
	width: 44px;
}

.App {
	width: 100%;
	height: calc(100% - 100px);
	overflow: hidden;
}

div.App > :first-child {
	overflow-y: auto;
	height: 100%;
	width: 100%;
}

.carousel {
	position: absolute;
	top: 0;
}

.carousel, .carousel-inner, .carousel-item {
	height: 100%;
	width: 100%;
	text-align: center;
	overflow-x: hidden;
}
.max-width {
	width: 100%;
	height: auto;
}
.max-height {
	width: auto;
	height: 100%;
}

.carousel-caption {
	background-color: rgba(0,0,0,0.1);
	border-radius: 25px;
}

.carousel-control-prev {
	cursor: pointer;
}

.carousel-control-prev-icon {
	width: 60px;
	height: 60px;
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20width%3D%2240%22%20height%3D%2240%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%3Cg%3E%0A%20%20%3Cellipse%20opacity%3D%220.2%22%20ry%3D%2218%22%20rx%3D%2218%22%20id%3D%22svg_6%22%20cy%3D%2220%22%20cx%3D%2220%22%20stroke-width%3D%221.5%22%20stroke%3D%22%23000%22%20fill%3D%22%23000%22%2F%3E%0A%20%3C%2Fg%3E%0A%20%3Cg%3E%0A%20%20%3Cpath%20fill%3D%22%23fff%22%20d%3D%22m20.633717%2C13.890507l-6.109503%2C6.109493l6.109503%2C6.109493l2.291058%2C-2.291061l-3.818432%2C-3.818432l3.818432%2C-3.818434l-2.291058%2C-2.291059l0%2C0z%22%2F%3E%0A%20%3C%2Fg%3E%0A%3C%2Fsvg%3E");
}

.carousel-control-next {
	cursor: pointer;
}

.carousel-control-next-icon {
	width: 60px;
	height: 60px;
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20width%3D%2240%22%20height%3D%2240%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%3Cg%3E%0A%20%20%3Cellipse%20opacity%3D%220.2%22%20ry%3D%2218%22%20rx%3D%2218%22%20id%3D%22svg_6%22%20cy%3D%2220%22%20cx%3D%2220%22%20stroke-width%3D%221.5%22%20stroke%3D%22%23000%22%20fill%3D%22%23000%22%2F%3E%0A%20%3C%2Fg%3E%0A%20%3Cg%20transform%3D%22rotate(-180%2C%2020.7653%2C%2020)%22%3E%0A%20%20%3Cpath%20fill%3D%22%23fff%22%20d%3D%22m22.674519%2C13.890507l-6.109491%2C6.109493l6.109491%2C6.109493l2.291058%2C-2.291061l-3.818432%2C-3.818432l3.818432%2C-3.818434l-2.291058%2C-2.291059l0%2C0z%22%2F%3E%0A%20%3C%2Fg%3E%0A%3C%2Fsvg%3E%0A");
}

.login-card {
	max-width: 500px;
	margin: 5% auto;
}

.card {
	border: none;
}

.mng-projects-body {
	overflow-x: auto;
	padding: 0;
	height: 100%;
	padding: 49px 31px;
	display: -webkit-box;
}

.mng-projects-body .center-cards {
	vertical-align: middle;
	height: 100%;
	display: -webkit-box;
}

.mng-projects-body .card-header {
	background-color:white;
	padding: 0px 10px;
	width: 140px;
	border: none;
	font-size: 15pt;
}

.mng-projects-body .card {
	padding-right: 50px;
	height: 100%;
	float: left;
	border: none;
	cursor: pointer;
}

.mng-projects-body .card-body {
	text-align: center;
	padding: 0;
	display: contents;
}

.mng-projects-body .card img {
	height: 100%;
	float: right;
}

.mng-projects-body .card a {
	display: flex;
	height: 100%;
	color: #949598
}

.input-images {
	width: 0px;
	visibility: hidden;
}

.selected-area {
	height: 75%;
}

.selected-photo {
	height: 100%;
	text-align: center;
}

.selected-photo img {
	height: 100%;
	max-width: 100%;
	margin: 0 auto;
}

.manage-photos {
	width: 100%;
	height: 25%;
	bottom: 0;
	padding: 10px 0;
	display: inline-flex;
	overflow-x: auto;
	border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.manage-photos div {
	height: 100%;
	text-align: center;
	display: contents;
	cursor: move;
}

.manage-photos img {
	height: 100%;
	margin: 0;
	border-top: 1px solid #6c757d;
	border-bottom: 1px solid #6c757d;
}

.manage-photos img.non-visible {
	opacity: 0.5;
	filter: alpha(opacity=50);
}

.invisible {
	opacity: 0;
	filter: alpha(opacity=0);
}

.buttons-left {
	height: 100%;
	margin-left: 10px;
	display: grid !important;
	min-width: 30px;
}

.buttons-left button {
	border-radius: 0px;
	padding: 0;
}

.buttons-left button:first-child {
	border-radius: 10px 0 0;
	border-bottom-color: #5f5f60;
}

.buttons-left button:last-child {
	border-radius: 0 0 0 10px;
	border-top-color: #5f5f60;
}

.buttons-right {
	height: 100%;
	margin-right: 10px;
	display: grid !important;
	min-width: 30px;
}

.buttons-right button {
	border-radius: 0px;
	padding: 0;
}

.buttons-right button:first-child {
	border-radius: 0 10px 0 0;
	border-bottom-color: #5f5f60;
}

.buttons-right button:last-child {
	border-radius: 0 0 10px 0;
	border-top-color: #5f5f60;
}

.fa-times:hover {
	color: red;
}

.fa-angle-double-left:hover, .fa-angle-double-right:hover, .fa-eye:hover, .fa-eye-slash:hover, .fa-image.selected, .fa-image:hover {
	color: blue;
}

.add-photos {
	margin: 0 5px;
}

.add-photos i {
	margin: 0;
}

.bottom-space {
	width: 100%;
	height: 34px;
}

.form-group {
	padding: 5px;
}

.show-xs {
	display: none;
}

@media (max-width: 549px) {
	.show-xs {
		display: block !important; 
	}
	.navbar-menu {
		height: calc(100% - 50px);
		width: 100%;
	}
	.navbar-size {
		height: 50px;
	}
	.navbar-brand-size {
		font-size: 15pt;
	}
	.App {
		height: calc(100% - 50px);
	}
	.carousel-control-prev-icon {
		width: 40px;
		height: 40px;
	}
	.carousel-control-next-icon {
		width: 40px;
		height: 40px;
	}
}

@media (min-width: 550px) and (max-width: 767px) {
	.show-xs {
		display: block !important; 
	}
	.hidden-xs {
		display: none !important;
	}
	.navbar-menu {
		width: 100%;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.show-xs {
		display: block !important; 
	}
	.hidden-sm {
		display: none !important;
	}
}
@media (min-width: 992px) and (max-width: 1199px) {
	.show-xs {
		display: block !important; 
	}
	.hidden-md {
		display: none !important;
	}
}
@media (min-width: 1200px) {
	.hidden-lg {
		display: none !important;
	}
}

/* Portrait */
@media screen and (orientation:portrait) {
	/* Portrait styles here */
}

/* Landscape */
@media screen and (orientation:landscape) {
	/* Landscape styles here */

}
